{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About Music Reviewer</h1>
    </header>
    <article>
        <p>This music site lets you view and review albums, aswell as upload your own album!</p>
    </article>
{% endblock %}