{% extends "BloggerBlogBundle::layout.html.twig" %}

{% block body %}

    <div class="row">
        {% for post in posts %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="margin-top: 30px; margin-bottom: 20px; background-color: whitesmoke" >
                    <div class="thumbnail" style="padding-top: 40px; padding-left: 25px; padding-right: 25px; padding-bottom: 10px">

                        <img class="card-img-top round" width="260px" height="370px" src="{{ asset('uploads/images/' ~ post.image()) }}" alt="">
                        <div class="card-body">

                            <h4 class="card-title">

                                {{ post.title }}

                            </h4>

                            {{ post.albumArtist }}

                        </div>
                        <div class="card-footer">
                            <a href="{{ path('blogger_viewalbum', {id : post.id}) }}" class="btn btn-primary">View</a>
                        </div>

                    </div>

                </div>

            </div>

        {% endfor %}

    </div>

{% endblock %}
